* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, SansCondensedOri, SansCondensedOriFallback, SansOri,
    SansOriFallback;
}
/*media display none for html on other sizes*/
header > nav.main-header > div.mnue > div.serch-container-992px {
  display: none;
}
header > nav.main-header > div.mnue > div.serch-icon-992px {
  display: none;
}
footer
  > nav.footer-menu
  > div.main-menu
  > .menuItems
  > .linksContents
  > ul
  > li
  > svg {
  display: none;
}
footer > .sups {
  display: none;
}
.top-nav {
  --top-nav-height-animation: 0.3s ease-in-out;
  --top-nav-height: 80px;
}
.top-nav--is-shrunk {
  --top-nav-height: 60px;
}
div.mnueLowSize{display: none;}