header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-height: 56px;
  padding: 0px;
  background-color: #fff;
  border-bottom: 2px solid rgb(245, 245, 245);
}
button {
  background-color: #fff;
  border: none;
}
header > nav.main-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 100px 1fr;
  width: 100%;
  height: 56px;
  padding: 0px 15px;
  transition: 350ms ease-in-out;
}
header > nav.main-header > div.mnue {
  display: flex;
  align-items: center;
  height: 32px;
}
/*all mnue items*/
header > nav.main-header > div.mnue > div.serch-icon-992px {
  display: flex;
  align-items: center;
  margin-right: 30px;
  fill: rgb(102, 102, 102);
}
header > nav.main-header > div.mnue > div.serch-container-992px {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  height: 68px;
  justify-self: center;
  left: 0px;
  padding: 15px 0px;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 1050;
  display: flex;
  justify-content: center;
  margin: 0px;
  display: none;
}
header
  > nav.main-header
  > div.mnue
  > div.serch-container-992px
  > div.serch-box {
  align-items: center;
  background: rgb(245, 245, 245);
  border-radius: 18px;
  box-sizing: border-box;
  color: rgb(119, 119, 119);
  display: flex;
  font-size: 2.3rem;
  height: 44px;
  padding-left: 15px;
  width: calc(100% - 30px);
}

header
  > nav.main-header
  > div.mnue
  > div.serch-container-992px
  > div.serch-box
  > .serch-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

header
  > nav.main-header
  > div.mnue
  > div.serch-container-992px
  > div.serch-box
  > div.clic-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  fill: rgb(119, 119, 119);
}

header
  > nav.main-header
  > div.mnue
  > div.serch-container-992px
  > div.serch-box
  > input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
}
header
  > nav.main-header
  > div.mnue
  > div.serch-container-992px
  > div.serch-box:focus-within {
  box-shadow: 0px 3px 5px rgb(202, 202, 202);
}
.serch-active {
  display: flex !important;
}
.serch-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 68px 0px 0px;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.45);
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
header > nav.main-header > div.mnue > div.mnue-logo {
  width: 57px;
  height: 32px;
}
header > nav.main-header > div.mnue > div.mnue-logo > button {
  width: 28px;
  height: 32px;
  margin-right: 40px;
  padding-left: 3px;
  overflow: hidden;
}
header > nav.main-header > div.mnue > div.mnue-logo > button > div.line {
  width: 25px;
  height: 2px;
  margin: 6px 0px;
  transition: opacity 0.3s linear 0s, transform 0.3s linear 0s;
  background-color: rgb(102, 102, 102);
}
header > nav.main-header > div.mnue > button.icon {
  width: 28px;
  height: 28px;
  fill: rgb(153, 10, 10);
}
div.mnue > button {
  display: none;
  margin-right: 40px;
  color: rgb(94, 94, 94);
  font-size: 14px;
  font-weight: 600;
}
div.mnue > button:hover {
  color: rgba(119, 119, 119, 0.774);
}
header > nav.main-header > div.logo {
  width: 100px;
  height: 22.4px;
  text-align: center;
}
header > nav.main-header > div.logo svg {
  width: 100px;
  height: 22.4px;
}
header > nav.main-header > div.serch {
  display: flex;
  justify-content: end;
  height: 38px;
}
header > nav.main-header > div.serch > div.serch-box {
  display: none;
  flex-direction: row;
  align-items: center;
  width: 185px;
  height: 38px;
  margin-left: auto;
  padding-left: 15px;
  border-radius: 18px;
  background-color: rgb(245, 245, 245);
}
header > nav.main-header > div.serch > div.serch-box > div.serch-icon {
  margin-top: 3px;
}
header > nav.main-header > div.serch > div.serch-box:focus-within {
  box-shadow: 0px 3px 5px rgb(202, 202, 202);
}

header > nav.main-header > div.serch > div.serch-box > input {
  width: 99px;
  height: 22px;
  padding: 0px 2px;
  margin-left: 8px;
  outline: none;
  border: none;
  background-color: rgb(245, 245, 245);
}

header > nav.main-header > div.serch > div.serch-box > div.clic-icon {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  fill: rgb(119, 119, 119);
  display: none;
}
header
  > nav.main-header
  > div.serch
  > div.serch-box
  > input:focus-within
  + div.clic-icon {
  display: block;
}

header > nav.main-header > div.serch > a.shop-icon {
  position: relative;
  top: calc(50% - 30px / 2);
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  fill: rgb(119, 119, 119);
}

header > nav.main-header > div.serch > a.shop-icon:hover > svg:nth-of-type(1) {
  display: block;
}
/*mnue low size start*/
.mnueLowSize {
  position: fixed;
  z-index: 1200;
  inset: 0px;
  display: none;
}
.mnueLowSize > .mnueLowSizeBlur {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  inset: 0px;
  transition: 350ms;
}
.mnueLowSize > aside.mainMnue {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: calc(100% - 45px);
  position: absolute;
  width: 330px;
  transform: translate(-100%, 0px);
  transition: transform 380ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.mnueLowSize > aside.mainMnue ::-webkit-scrollbar {
  width: 8px;
}
.mnueLowSize > aside.mainMnue ::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
  border: 2.5px solid #fff;
}
.mnueLowSize > .mainMnue > .mainMnueTitle {
  display: flex;
  height: 54px;
  width: 100%;
}
.mnueLowSize > .mainMnue > .mainMnueTitle > .mainMnueTitle-btn {
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  color: rgb(51, 51, 51);
  display: flex;
  font-size: 10px;
  font-weight: 700;
  justify-content: flex-start;
  text-transform: uppercase;
  width: 50%;
  background-color: rgb(240, 240, 240);
}
.show {
  background-color: #fff !important;
}
.mnueLowSize
  > .mainMnue
  > .mainMnueTitle
  > .mainMnueTitle-btn
  > .mainMnueTitle-btn-icon {
  border-radius: 50%;
  display: flex;
  font-size: 2.9rem;
  height: 29px;
  margin: 20px 10px;
}
.mnueLowSize
  > .mainMnue
  > .mainMnueTitle
  > .mainMnueTitle-btn
  > .mainMnueTitle-btn-icon
  > svg {
  user-select: none;
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: inherit;
}
.mnueLowSize
  > .mainMnue
  > .mainMnueTitle
  > .mainMnueTitle-btn
  > .mainMnueTitle-btn-icon
  > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  color: rgb(255, 255, 255);
  width: 22px;
  height: 22px;
  background-color: rgb(85, 85, 85);
  font-size: 1rem !important;
}
.mnueLowSize
  > .mainMnue
  > .mainMnueTitle
  > .mainMnueTitle-btn
  > .mainMnueTitle-btn-text {
  margin-right: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 9.5px;
}
.mnueLowSize > .mainMnue > .mainMnue-ul {
  color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  list-style: none;
  margin: 0px 0px 5px;
  max-width: 100%;
  overflow: scroll;
  padding: 0px;
  width: 330px;
}
.mnueLowSize > .mainMnue > .mainMnue-ul > div:nth-of-type(1) {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.mnueLowSize > .mainMnue > .mainMnue-ul > div:nth-of-type(1) > div.oN {
  display: flex;
  flex-direction: row;
  margin-bottom: 7.5px;
  padding: 7.5px 30px;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(1)
  > div.oN
  > div:nth-of-type(1) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 2rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 28px;
  height: 28px;
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(1)
  > div.oN
  > div:nth-of-type(1)
  > img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
.mnueLowSize > .mainMnue > .mainMnue-ul > div:nth-of-type(1) > div.oN > p {
  margin: 0px 0px 0px 7.5px;
  font-size: 14px;
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.43;
  color: rgb(51, 51, 51);
  display: inline-block;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(1)
  > div.oN
  > div:nth-of-type(2) {
  position: absolute;
  right: 8px;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(1)
  > div.oN
  > div:nth-of-type(2)
  > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: bold;
  font-family: SansOri, SansOriFallback, sans-serif;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(51, 51, 51);
  box-shadow: none;
  line-height: 1.3;
  border-radius: 25px;
  padding: 5px;
  min-width: 32px;
  font-size: 2.4rem;
}
svg.Mnue-closeIcon {
  user-select: none;
  width: 0.65em;
  height: 0.65em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: inherit;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(1)
  > div.oN
  > div:nth-of-type(2)
  > button
  > span {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(1)
  > div.oN
  > div:nth-of-type(2)
  > button
  > span
  > div {
  background-color: rgb(51 51 51 / 4%);
  width: 0;
  height: 0;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(1)
  > div.oN
  > div:nth-of-type(2)
  > button:hover
  > span
  > div {
  border-radius: inherit;
  animation-name: test;
  animation-duration: 500ms;
}
.mnueLowSize > .mainMnue > .mainMnue-ul > div:nth-of-type(1) > hr {
  background-color: rgb(245, 245, 245);
  border: none;
  height: 2px;
  margin: 0px 0px 7.5px;
}
.mnueLowSize > .mainMnue > .mainMnue-ul > li > div.MN {
  border-left: 5px solid transparent;
  font-size: 14px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 3.2rem;
  font-weight: 700;
  margin: 0px;
  padding-left: 25px;
  text-decoration: none;
  border-color: var(--br-color);
}
.mnueLowSize > .mainMnue > .mainMnue-ul > li > div.MN > a {
  font-family: SansOri, SansOriFallback, sans-serif;
  color: rgb(51, 51, 51);
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.35rem;
  margin: 0px;
  text-decoration: none;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > li:nth-of-type(13)
  > div.MN
  > a:hover {
  color: rgba(51, 51, 51, 0.7);
}
.mnueLowSize > .mainMnue > .mainMnue-ul > li > div.MN > span {
  align-items: center;
  display: flex;
  font-size: 2.4rem;
  margin-right: 15px;
  transition: all 0.1s ease-in 0s;
}
.mnueLowSize > .mainMnue > .mainMnue-ul > div:nth-of-type(2) > a {
  margin: 0px;
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.5;
  background: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 0px;
  text-align: center;
  text-decoration: none;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(2)
  > a:nth-of-type(4) {
  font-size: 14px;
  font-weight: normal;
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.5;
  align-items: center;
  color: rgb(51, 51, 51);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0px;
  text-decoration: none;
  background-color: #fff;
  padding: 0;
}
.mnueLowSize
  > .mainMnue
  > .mainMnue-ul
  > div:nth-of-type(2)
  > a:nth-of-type(4)
  > span {
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  text-transform: capitalize;
}
.mnueLowSize > .mainMnue > .mainMnue-ul > div:nth-of-type(2) > a:hover {
  color: rgba(51, 51, 51, 0.7);
}

.bgColor {
  background-color: var(--bg-color);
}
.spanRotate {
  transform: rotate(180deg);
}
/*low mnue createElemnts class*/
.lowMnue-i1-p {
  margin: 0px;
  font-size: 13.5px;
  font-family: SansOri, SansOriFallback, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  color: rgba(51, 51, 51, 0.87);
}
.lowMnue-i1-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0px 0px 0px;
}
.lowMnue-i1-div-a {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.75;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  text-decoration: underline 2px currentcolor;
  text-underline-offset: 0.25em;
}
.lowMnue-i1-div:nth-of-type(2) > .lowMnue-i1-div-a {
  text-underline-offset: 0;
  color: rgba(51, 51, 51, 0.87);
  font-weight: normal;
  text-decoration: underline 1px currentcolor;
  text-transform: initial;
}
.lowMnue-i2-a {
  color: rgb(51, 51, 51);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.1) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 1px 5px 0px;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.lowMnue-i2-a-div-img {
  min-width: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;
}
.lowMnue-i2-a-div-img > img {
  height: 100%;
  left: 50%;
  position: absolute;
  top: unset;
  transform: translateX(-50%);
}
.lowMnue-i2-a-div-title {
  align-self: center;
  padding: 20px 25px 20px 15px;
}
.lowMnue-i2-a-div-title > div {
  color: rgb(102, 102, 102);
  font-family: SansOri, SansOriFallback, sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.18px;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.lowMnue-i2-a-div-title > div:nth-of-type(2) {
  font-size: 14px;
  font-weight: 700;
  text-transform: initial;
  margin-bottom: 0;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.87);
}
.lowMnue-i2-a-icon {
  display: flex;
  font-size: 24px;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.lowMnue-i2-a-icon > svg {
  user-select: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 2.4rem;
}
.lowMnue-i2-seeAll {
  margin: 0px;
  color: rgba(51, 51, 51, 0.87);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
}
.lowMnue-i3-ul {
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  margin: 10px 0px 5px;
  padding-left: 0px;
}
.lowMnue-i3-ul > li > a {
  margin: 0px;
  font-weight: normal;
  font-family: SansOri, SansOriFallback, sans-serif;
  color: rgba(51, 51, 51, 0.87);
  display: block;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 0px 10px 55px;
  text-decoration: none;
}
/*yad avariiiiiiiiiiiiiiiiiiiiiiiiii*/
a.green-hover:hover {
  color: rgb(0, 118, 129);
}
.lowMnueMain-items-div {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  text-align: left;
  width: 100%;
}
.lowMnueMain-items-div > a {
  margin: 0px;
  font-family: SansOri, SansOriFallback, sans-serif;
  color: rgba(51, 51, 51, 0.8);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  max-width: 235px;
  overflow: hidden;
  padding-left: 0px;
  text-decoration: none;
  text-overflow: ellipsis;
}
.lowMnueMain-items-div > span {
  align-items: center;
  display: flex;
  font-size: 20px;
  margin-right: 18px;
  transition: all 0.1s ease-in 0s;
}
/*div log in Mnue*/
div.login {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--top-nav-height));
  width: 100%;
}
div.login > div {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 15px 20px;
}
div.login > div > div.sign-in {
  margin: 0px 0px 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.6;
  text-align: center;
}
div.login > div > form {
  display: flex;
  flex-direction: column;
}
div.login > div > form > div {
  margin-bottom: 15px;
  position: relative;
  color: rgba(51, 51, 51, 0.815);
}
div.login > div > form > div > label {
  font-size: 14px;
  font-weight: normal;
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.4375em;
  padding: 0px;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 133%;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(0px, -1.5px) scale(0.75);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  cursor: pointer;
}
div.login > div > form > div > input {
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  padding: 4px 0px 5px;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  margin-top: 10px;
  color: rgb(51, 51, 51);
  outline: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.35);
}
div.login > div > form > div > svg {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 28px;
  height: 28px;
  fill: currentColor;
}
div.login > div > form > div > svg:nth-of-type(2) {
  right: 28px;
}
div.login > div > form > div > svg:nth-of-type(1) > path:nth-of-type(3) {
  display: none;
}
.sign-in-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 5px 0px 0px;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: SansOri, SansOriFallback, sans-serif;
  text-transform: uppercase;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(104, 187, 147);
  box-shadow: none;
  line-height: 1.3;
  border-radius: 25px;
  height: 40px;
  padding: 0px 30px;
  user-select: none;
}
div.login > div > a.forgot-pass {
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  text-decoration: underline currentcolor;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  margin: 10px auto;
}
.faceBook {
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.1) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 1px 5px 0px;
  height: 40px;
  margin-top: 10px;
}
.faceBook > svg {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  fill: rgb(24, 119, 242);
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: inherit;
}
.faceBook > span {
  position: absolute;
  top: 0;
  display: block;
  font-size: 12px;
  font-family: SansOri, SansOriFallback, sans-serif;
  color: rgb(51, 51, 51);
  font-weight: 700;
  margin: 0px auto;
  overflow-wrap: break-word;
  left: 80px;
  line-height: 40px;
}
div.register {
  text-align: center;
}
.Re-title {
  color: rgb(85, 85, 85);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 20px;
  text-align: center;
}
.Re-main {
  margin: 15px -20px 10px;
}
.Re-main > a {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.5;
  color: rgba(51, 51, 51, 0.822);
  background: rgb(245, 245, 245);
  display: block;
  padding: 10px;
  text-decoration: none;
}
div.register > a {
  font-family: SansOri, SansOriFallback, sans-serif;
  line-height: 1.5;
  text-decoration: underline currentcolor;
  color: rgb(85, 85, 85);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin: 0px auto;
}
.InnerItems {
  margin: 0px;
  font-family: SansOri, SansOriFallback, sans-serif;
  color: rgb(51, 51, 51);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  max-width: 235px;
  overflow: hidden;
  padding: 0px 0px 15px 70px;
  text-decoration: none;
  text-overflow: ellipsis;
}
.InnerItems:nth-of-type(1) {
  margin-top: 5px;
  padding-top: 15px;
}
.SubItems:nth-last-of-type(1){
  margin: 20px 0px 10px;
  padding: 0px !important;
}
